# 6. lekce - Cvičení

## 1. Půlmaraton

Uvažuj časy závodníků za ročníky půlmaratonu 2019 a 2020, které jsou uloženy v souboru [half_marathon.csv](data/half_marathon.csv). V souboru je uloženo jméno závodníka (závodnice), rok narození, jeho/její čas a rok závodu, ke kterému se čas vztahuje. Tvým úkolem je spočítat, o kolik se změnil průměrný čas každého ze závodníků a závodnic a zda se v průměru zlepšili či zhoršili (například protože kvůli lockdownům méně trénovali).

Můžeš využít následující postup:

In [36]:
import pandas as pd

df = pd.read_csv("data/half_marathon.csv")
df.head()

            Jmeno  Rocnik       Cas  Rok zavodu
0  Aster Vladimír    1965  01:53:25        2019
1  Aster Vladimír    1965  02:00:19        2020
2   Asterová Jana    1974  02:16:59        2019
3   Asterová Jana    1974  02:30:01        2020
4   Baborová Anna    1990  01:58:20        2019

- Převeď sloupec s časem závodníka na typ datetime. Použij stejný postup, jaký jsme si ukázali v minulé v lekci. Protože jde pouze o časový údaj, pandas k němu připojí dnešní datum, aby byly ve sloupci datum i čas. Toho si ale nevšímej, u obou sloupců je datum stejný, takže na porovnání údajů to nebude mít vliv.

In [37]:
# Převod na datetime (vyjadřuje časový okamžik)
# df["Cas"] = pd.to_datetime(df["Cas"])

# Alternativa: Převod na typ timedelta (vyjadřuje dobu trvání)
df["Cas"] = pd.to_timedelta(df["Cas"])

df.head(1)

            Jmeno  Rocnik             Cas  Rok zavodu
0  Aster Vladimír    1965 0 days 01:53:25        2019

- Pomocí metody `shift()` si dej na jeden řádek výsledky obou závodů. Metodu `shift()` použij tak, aby nový sloupec obsahoval hodnoty posunuté o jeden řádek dolů. Je třeba nahradit X vhodně zvoleným číslem. Poté si nech v datech pouze data, která mají ve sloupci `Rok zavodu` hodnotu 2020. Řádky, které mají ve sloupci `Rok zavodu` hodnotu 2019, totiž obsahují "pomíchané" hodnoty dvou různých závodníků.

In [38]:
# Posun pomocí shift
# ... kladný argument = posun hodnot o x řádků "dolů"
# ... záporný argument = posun hodnot o x řádků "nahoru"
df["Cas 2019"] = df["Cas"].shift(1)

# Výběr dat z roku 2020
df = df[df["Rok zavodu"] == 2020]

df.head(3)

            Jmeno  Rocnik             Cas  Rok zavodu        Cas 2019
1  Aster Vladimír    1965 0 days 02:00:19        2020 0 days 01:53:25
3   Asterová Jana    1974 0 days 02:30:01        2020 0 days 02:16:59
5   Baborová Anna    1990 0 days 01:52:25        2020 0 days 01:58:20

- Vypočítej rozdíl mezi časy závodníka a převeď ho na sekundy (postup jsme si ukazovali v lekci). Dále spočítej průměrnou změnu. Vyšlo kladné, nebo záporné číslo? A co to znamená?

In [39]:
# Výpočet rozdílů
df["Zmena"] = df["Cas"] - df["Cas 2019"]
display(df.head(1))

# Převod na sekundy
df["Zmena_sec"] = df["Zmena"].dt.total_seconds()
df.head(5)

,Jmeno,Rocnik,Cas,Rok zavodu,Cas 2019,Zmena
1,Aster Vladimír,1965,0 days 02:00:19,2020,0 days 01:53:25,0 days 00:06:54

,Jmeno,Rocnik,Cas,Rok zavodu,Cas 2019,Zmena,Zmena_sec
1,Aster Vladimír,1965,0 days 02:00:19,2020,0 days 01:53:25,0 days 00:06:54,414.0
3,Asterová Jana,1974,0 days 02:30:01,2020,0 days 02:16:59,0 days 00:13:02,782.0
5,Baborová Anna,1990,0 days 01:52:25,2020,0 days 01:58:20,-1 days +23:54:05,-355.0
7,Bambas Jan,1975,0 days 02:35:39,2020,0 days 02:02:59,0 days 00:32:40,1960.0
9,Barochovská Andrea,1976,0 days 02:50:05,2020,0 days 03:01:25,-1 days +23:48:40,-680.0

In [40]:
# Průměrná změna (pro přehlednost převedena na minuty)
prumer_minuty = df["Zmena"].mean().total_seconds() / 60
prumer_minuty

9.6005263

... Kladný průměr změny znamená průměrné zhoršení časů v roce 2020 oproti roku 2019.

## 2. Swing states

V případě amerických prezidentských voleb obecně platí, že ve většině států dlouhodobě vyhrávají kandidáti jedné strany. Například v Kalifornii vyhrávají poměrně dlouho kandidáti Demokratické strany, v Texasu zase kandidáti Republikánské strany. Státy, kde se vítězné strany střídají, jsou označovány jako _swing states_ ("kolísavé státy"). Tvým úkolem je pro jeden konkrétní stát spočítat, kolikrát v něm došlo ke změně vítězné strany, přičemž data jsou uložena v souboru [election-data.csv](data/election-data.csv).

V souboru jsou důležité následující sloupce:

`year` - rok voleb,
`state` - stát,
`party_simplified` - zjednodušené označení politické strany,
`rank` - pořadí kandidáta v rámci státu a roku.

In [41]:
import pandas as pd

data = pd.read_csv("data/election-data.csv")

data.head(5)

,year,state,candidate,party_simplified,candidatevotes,rank
0,1976,ALABAMA,"CARTER, JIMMY",DEMOCRAT,659170,1.0
1,1976,ALABAMA,"FORD, GERALD",REPUBLICAN,504070,2.0
2,1976,ALABAMA,"MADDOX, LESTER",OTHER,9198,3.0
3,1976,ALABAMA,"BUBAR, BENJAMIN """"BEN""""",OTHER,6669,4.0
4,1976,ALABAMA,"HALL, GUS",OTHER,1954,5.0

Vyber si jeden stát, např. stát PENNSYLVANIA. Vytvoř si tabulku, kde budou data pouze za tento stát. Současně si vyber pouze data o vítězích, tj. řádky, které mají ve sloupci `rank` hodnotu `1`. Vytvoř sloupec, který bude obsahovat politickou strunu vítěze voleb z přechozího volebního období. Pokud spočítáš řádky, kde se politická strana současného vítěze liší od strany minulého, zjistíš, kolikrát voliči v daném státě přešli od jedné strany ke druhé. Pozor na to, že pro rok 1976 neznáme předchozího vítěze, v nově přidaném sloupci tedy bude prázdná hodnota. Té se můžeš zbavit například pomocí metody `dropna()`.

In [42]:
# Výběr vítězů ve vybraném státě
data = data[(data["state"] == "PENNSYLVANIA") & (data["rank"] == 1)]

# Přidání vítězné strany v předchozím roce pomocí shift()
data["previous_winner_party"] = data["party_simplified"].shift(1)
data.head(3)

,year,state,candidate,party_simplified,candidatevotes,rank,previous_winner_party
3226,1976,PENNSYLVANIA,"CARTER, JIMMY",DEMOCRAT,2328677,1.0,None
3234,1980,PENNSYLVANIA,"REAGAN, RONALD",REPUBLICAN,2261872,1.0,DEMOCRAT
3241,1984,PENNSYLVANIA,"REAGAN, RONALD",REPUBLICAN,2584323,1.0,REPUBLICAN

Např. pro stát PENNSYLVANIA by ti mělo vyjít, že ke změně došlo celkem čtyřikrát, a to v letech 1980, 1992, 2016 a 2020. Ve státě SOUTH CAROLINA došlo ke změně pouze jednou, a to v roce 1980, kdy vyhrál Ronald Reagan. Od té doby zde vyhrávají pouze kandidáti Republikánské strany.

In [43]:
# Odstranění NaN pro shift prvního roku (1976)
data = data.dropna()

# Výběr swing states
swing_states = data[data["party_simplified"] != data["previous_winner_party"]]
swing_states

,year,state,candidate,party_simplified,candidatevotes,rank,previous_winner_party
3234,1980,PENNSYLVANIA,"REAGAN, RONALD",REPUBLICAN,2261872,1.0,DEMOCRAT
3254,1992,PENNSYLVANIA,"CLINTON, BILL",DEMOCRAT,2239164,1.0,REPUBLICAN
3288,2016,PENNSYLVANIA,"TRUMP, DONALD J.",REPUBLICAN,2970733,1.0,DEMOCRAT
3293,2020,PENNSYLVANIA,"BIDEN, JOSEPH R. JR",DEMOCRAT,3458229,1.0,REPUBLICAN